<div>
  
    <details>
      <summary>¿Qué tipo de componentes reciben?</summary>
      <p>Explcacion</p>
    </details>
  
    <details>
      <summary>¿Cómo garantizan que el proceso sea realmente sustentable?</summary>
      <p>Explcacion</p>
    </details>
  
    <details>
      <summary>¿Cómo garantizan que el proceso sea realmente sustentable?</summary>
      <p>Explcacion</p>
    </details>

    <details>
        <summary>¿Cómo se calcula el presupuesto de personalización?</summary>
        <p>Explcacion</p>
    </details>
  
  </div>