<p>Nuestros beneficios</p>

<!-- Beneficios -->
<div>
    <p>Impacto Ambiental Real: Reducís la huella de carbono y evitás que el plástico y los metales pesados terminen en un basural.</p>
    <p>Personalización Absoluta: No es hardware genérico. Diseñamos y adaptamos cada componente para que cumpla con la función exacta que vos o tu empresa necesitan.</p>
    <p>Ahorro Inteligente (Upcycling): Maximizás el valor de tu inversión inicial extendiendo el ciclo de vida de materiales que ya dabas por perdidos.</p>
</div>